<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension-point id="imeDelegate" name="nodamushi.eclipse.aiueo.imeDelegate" schema="schema/nodamushi.eclipse.aiueo.imeDelegate.exsd"/>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="nodamushi.eclipse.aiueo.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="AIUEO"
            class="nodamushi.eclipse.aiueo.internal.preferences.page.AIUEOPreferencePage"
            id="nodamushi.eclipse.aiueo.internal.preferences.AIUEOPreferencePage">
      </page>
      <page
            name="キーボード配列"
            category="nodamushi.eclipse.aiueo.internal.preferences.AIUEOPreferencePage"
            class="nodamushi.eclipse.aiueo.internal.preferences.page.KeyboardPreferencePage"
            id="nodamushi.eclipse.aiueo.internal.preferences.KeyboardPreferencePage">
      </page>
   </extension>
   <extension
         id="nodamushi.eclipse.aiueo.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
