<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension-point id="imeDelegate" name="nodamushi.eclipse.aiueo.imeDelegate" schema="schema/nodamushi.eclipse.aiueo.imeDelegate.exsd"/>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="nodamushi.eclipse.aiueo.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="AIUEO"
            class="nodamushi.eclipse.aiueo.internal.preferences.page.AIUEOPreferencePage"
            id="nodamushi.eclipse.aiueo.internal.preferences.AIUEOPreferencePage">
      </page>
      <page
            name="キーボード配列"
            category="nodamushi.eclipse.aiueo.internal.preferences.AIUEOPreferencePage"
            class="nodamushi.eclipse.aiueo.internal.preferences.page.KeyboardPreferencePage"
            id="nodamushi.eclipse.aiueo.internal.preferences.KeyboardPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="nodamushi.eclipse.aiueo.commands.replaceForward"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+;">
      </key>
      <key
            commandId="nodamushi.eclipse.aiueo.commands.replaceBackward"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+;">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="nodamushi.eclipse.aiueo.commands.category"
            name="AIUEO">
      </category>
      <command
            categoryId="nodamushi.eclipse.aiueo.commands.category"
            id="nodamushi.eclipse.aiueo.commands.replaceForward"
            name="ローマ字を再変換する(前方)">
      </command>
      <command
            categoryId="nodamushi.eclipse.aiueo.commands.category"
            id="nodamushi.eclipse.aiueo.commands.replaceBackward"
            name="ローマ字を再変換する(後方)">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="nodamushi.eclipse.aiueo.handlers.ForwardHandler"
            commandId="nodamushi.eclipse.aiueo.commands.replaceForward">
      </handler>
      <handler
            class="nodamushi.eclipse.aiueo.handlers.BackwardHandler"
            commandId="nodamushi.eclipse.aiueo.commands.replaceBackward">
      </handler>
   </extension>

</plugin>
